<link href="styles.css" rel="stylesheet" media="all and (max-width: 300px)">

<div class="jumbotron blackbox">
<center>
<FONT SIZE = "2056" face="Arial Rounded MT, sans-serif, Georgia"> <a id="header" style= "color:#FFFFFF"  href="/"><b> MyFridgeBuddy </b></a>
</center></FONT>

  <div class="box center-block">
    <div class="container">

      <div class="row center-block">
        <div class="col-lg-12">

          <form action="/" method="post" id="recipeForm">
            <div class="input-group">
              <input id="ingredientInputField" type="text" name="ingredient" autocomplete="off" class="form-control" placeholder="Type the ingredients that you have...">
              <span class="input-group-btn">
                <button id="recipeSubmit" class="btn btn-default" type="submit">
                  <span class="glyphicon glyphicon-search" aria-hidden="true"></span>&nbsp;</button>
              </span>
            </div>
            <!-- /input-group -->
          </form>
        </div>
        <!-- /.col-lg-12 -->
      </div>
      <!-- /.row -->
      <div id="ingredient-display"></div>
      <div class="row">
        <button type="button" class="btn btn-success btn-block" data-toggle="modal" data-target="#bavarian-cream">
          Launch demo modal
        </button>
        <div class="col-sm-12 table-responsive">
          <table id="recipe-result-table" class="table ">
            <tbody>
            </tbody>
          </table>
        </div>

      </div>

      <div class="row" style="min-height: 5em">
        <div class="col-sm-12">
          <div id="next-button" class="btn btn-block btn-primary" style="display:none">Load 10 More Recipes</div>
        </div>
      </div>

    </div>
  </div>
</div>

<div id="modal-areas"></div>

<script language="javascript" type="text/javascript" src="/js/main.js"></script>
