<!-- views/index.ejs -->

<!doctype html>
<html>
<head>

    <title>MyFridgeBuddy Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body       
         {  
            margin-height: auto;
            margin-right: -20px;
         }
    </style>
</head>
<body>
    
<div class="container">

    <div class="jumbotron text-center">
        <h1><span class="fa fa-lock"></span> MyFridgeBuddy Authentication</h1>

        <p>Login or Register with:</p>

        <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>
        <p></p>

        <p> <a href="http://localhost:3000/"> Back to search</a></p>

    </div>

</div>
</body>
</html>   